In [1]:
import pandas as pd
from numpy.linalg import norm
import numpy as np
import torch
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import ShuffleSplit

# load data book

In [5]:
user_user = pd.read_csv('../hw3_data/Douban_Book/user_user.dat', sep='\t', header=None)
user_book = pd.read_csv('../hw3_data/Douban_Book/user_book.dat', sep='\t', header=None)
user_group = pd.read_csv('../hw3_data/Douban_Book/user_group.dat', sep='\t', header=None)
user_location = pd.read_csv('../hw3_data/Douban_Book/user_location.dat', sep='\t', header=None)
book_author = pd.read_csv('../hw3_data/Douban_Book/book_author.dat', sep='\t', header=None)
book_publisher = pd.read_csv('../hw3_data/Douban_Book/book_publisher.dat', sep='\t', header=None)
book_year = pd.read_csv('../hw3_data/Douban_Book/book_year.dat', sep='\t', header=None)

In [6]:
# whose user-user interaction < 3
zero_inter = []
for i in range(1, 13024+1):
    inter_left = user_user[user_user[0] == i].shape[0]
    inter_right = user_user[user_user[1] == i].shape[0]
    inter = inter_right + inter_left 
    if inter < 3:
        zero_inter.append(i)
# 整理data
user_book['drop'] = user_book.apply(lambda row: row[0] in zero_inter ,axis = 1)
user_book = user_book[user_book['drop'] == False]
user_book = user_book[[0,1,2]]
np.save('../hw3_data/Douban_Book/user_book.npy',user_book)

user_group['drop'] = user_group.apply(lambda row: row[0] in zero_inter ,axis = 1)
user_group = user_group[user_group['drop'] == False]
user_group = user_group[[0,1]]
np.save('../hw3_data/Douban_Book/user_group.npy',user_book)

user_location['drop'] = user_location.apply(lambda row: row[0] in zero_inter ,axis = 1)
user_location = user_location[user_location['drop'] == False]
user_location = user_location[[0,1]]
np.save('../hw3_data/Douban_Book/user_location.npy',user_book)

# user_location = user_location[[0,1]]
# user_location.to_csv("user_location.csv",index=False)
# user_location.to_csv("user_location.csv",index=False)

In [16]:
np.save('Douban_Book/user_user.dat',user_book)

In [14]:
user_location = user_location[[0,1]]
np.save('Douban_Book/user_location.npy',user_location)

In [ ]:
user_book = user_book.sort_values(by = 0)

In [ ]:
unique_book = np.unique(user_book[1])
unique_user = np.unique(X[0])

# load data MovieLens

In [ ]:
'''
This data set consists of:
	* 100,000 ratings (1-5) from 943 users on 1682 movies. 
	* Each user has rated at least 20 movies. 
        * Simple demographic info for the users (age, gender, occupation, zip)

 user_movie = user id | item id | rating | timestamp. 
'''

In [3]:
movie_genre = pd.read_csv('../hw3_data/Movielens/movie_genre.dat', sep='\t', header=None)
movie_movie = pd.read_csv('../hw3_data/Movielens/movie_movie(knn).dat', sep='\t', header=None)
user_age = pd.read_csv('../hw3_data/Movielens/user_age.dat', sep='\t', header=None)
user_movie = pd.read_csv('../hw3_data/Movielens/user_movie.dat', sep='\t', header=None)
user_occupation = pd.read_csv('../hw3_data/Movielens/user_occupation.dat', sep='\t', header=None)
user_user = pd.read_csv('../hw3_data/Movielens/user_user(knn).dat', sep='\t', header=None)

In [4]:
np.save("Movielens/user_movie.npy",np.array(user_movie[[0,1,2]]))

# load data Yelp

In [ ]:
movie_genre = pd.read_csv('Movielens/movie_genre.dat', sep='\t', header=None)
movie_movie = pd.read_csv('Movielens/movie_movie(knn).dat', sep='\t', header=None)
user_age = pd.read_csv('Movielens/user_age.dat', sep='\t', header=None)
user_movie = pd.read_csv('Movielens/user_movie.dat', sep='\t', header=None)
user_occupation = pd.read_csv('Movielens/user_occupation.dat', sep='\t', header=None)
user_user = pd.read_csv('Movielens/user_user(knn).dat', sep='\t', header=None)

# train split

In [3]:
user_book = pd.read_csv('Douban_book/user_book.csv', sep=',', header=None)
user_book = user_book.drop([0])
user_book

            0      1  2
1       10855    938  4
2       10027      3  3
3         741   2426  5
4         453   1263  4
5       11665   7717  5
...       ...    ... ..
743615  12832   2650  5
743616   7823   3050  4
743617   9347  18017  5
743618  10942   1443  4
743619   5165    772  3

[743619 rows x 3 columns]

In [4]:
X = user_book[[0,1]]
y = user_book[[2]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
rs = ShuffleSplit(n_splits=5, test_size=.1, random_state=42)

In [9]:
for i, (train_index, test_index) in enumerate(rs.split(X_train)):
    user_rating = pd.DataFrame(data = 0, index=np.array([i for i in range(1, 13025)]), columns= np.array([i for i in range(1, 22348)]))
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")

Fold 0:
  Train: index=[471234 558998 472667 ... 365838 131932 121958]
  Test:  index=[558636 534539 462604 ... 372350 374343 279203]
Fold 1:
  Train: index=[127568 112967 504443 ... 451083 140034 371321]
  Test:  index=[402130 109055 444972 ... 162828 347908 523409]
Fold 2:
  Train: index=[283327 153395 461057 ... 431732 443952 397635]
  Test:  index=[240055 153064 430501 ... 124841 292491    620]
Fold 3:
  Train: index=[397084 414551   5304 ... 107297 401646 310779]
  Test:  index=[ 22262 278887 234850 ... 392469 490493  12167]
Fold 4:
  Train: index=[ 91192 197551 481901 ... 248644 312931 584392]
  Test:  index=[ 68618   1538 383302 ... 230635 277865 495430]

In [18]:
# 組成user是否幫book rating的matrix

user_rating = pd.DataFrame(data = 0, index=np.array([i for i in range(1, 13025)]), columns= np.array([i for i in range(1, 22348)]))
user_rating

for i in range(len(X_train)):
    user_rating.loc[X_train.iloc[i][0],X_train.iloc[i][1]] = y_train.iloc[i][2]

user_rating.to_csv("user_rating.csv")
# pd.read_csv("user_rating.csv")

In [5]:
user_rating = np.ones((13024, 22347), dtype=int)
user_rating

array([[1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       ...,
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1],
       [1, 1, 1, ..., 1, 1, 1]])

In [5]:
user_rating = np.load('user_rating.npy')
user_rating

array([[0, 0, 0, ..., 0, 0, 0],
       [4, 5, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [4, 0, 3, ..., 0, 0, 0]])

In [24]:
UCF_cs = cosine_similarity(user_rating)
np.save('cs_user_rating.npy', UCF_cs)
# np.save('cs_user_rating.npy', UCF_cs) # save
# cs_user_rating = np.load('cs_user_rating.npy') # load
# cs_user_rating

In [6]:
UCF_cs = np.load('cs_user_rating.npy') 
UCF_cs

array([[1.        , 0.01953982, 0.03922323, ..., 0.05922242, 0.        ,
        0.01245339],
       [0.01953982, 1.        , 0.02874056, ..., 0.07550701, 0.02578081,
        0.01460022],
       [0.03922323, 0.02874056, 1.        , ..., 0.        , 0.03450071,
        0.01465386],
       ...,
       [0.05922242, 0.07550701, 0.        , ..., 1.        , 0.03750623,
        0.        ],
       [0.        , 0.02578081, 0.03450071, ..., 0.03750623, 1.        ,
        0.05257914],
       [0.01245339, 0.01460022, 0.01465386, ..., 0.        , 0.05257914,
        1.        ]])

In [11]:
X_val.head(5)

           0      1
666751  8005  19377
544565  4914   5531
54400   1080   4275
63088   3837   3941
38551   9253   8267

In [13]:
def predict(x, cs, user_rating):
    user, book = x[0],x[1]
    most_similar_user = np.argpartition(cs[user-1],-2)[-2]
    pred = user_rating[most_similar_user,book-1]
    return pred

In [14]:
X_val['pred'] = X_val.apply(predict, args=(UCF_cs, user_rating), axis = 1)

In [2]:
X_val['pred']

NameError: name 'X_val' is not defined

In [23]:
np.array(X_val['pred']).shape

(59490,)

In [24]:
(X_val['pred'] == np.array(y_val[2])).sum()

1451

In [16]:
X_val[X_val['pred'] != 0]

            0      1  pred
334641   1837    984     5
717467  11534  11074     5
101418   3905   1195     4
478452   5149     69     3
556305   5282     13     4
...       ...    ...   ...
13957    7916   6720     5
352609  10529   1468     4
287453    817     22     5
394003  10581    760     4
534492   5508      4     4

[3180 rows x 3 columns]